<html>
    <head>
        <title>Yeojin's Blog</title>
    </head>

    <body>

        <div>
            <h1><a href="">Yeojin's Blog</a></h1>
        </div>

        <div>
            <p>published: 19.02.2021, 02:10</p>
            <h2><a href="">My first post</a></h2>
            <p>Hi, I'm Yeojin Kim!</p>
        </div>

        <div>
            <p>published: 19.02.2021, 02:11</p>
            <h2><a href="">My second post</a></h2>
            <p>Hi, The weather was really cold today. Be careful for cold.</p>
        </div>

    </body>

</html>
